<!DOCTYPE html>
{% extends 'app/layout.html' %}


{% block content %}
<headr>
    <meta charset="UTF-8">
    <title>Update Room</title>
</headr>
<tbody>
    <h1>Update Room</h1>
    <form method="post">
        {% csrf_token %}
        <label for="roomNumber">Room Number:</label>
        <input type="text" id="roomNumber" name="roomNumber" required><br>

        <label for="roomType">Room Type:</label>
        <input type="text" id="roomType" name="roomType"><br>

        <label for="roomPrice">Room Price:</label>
        <input type="number" id="roomPrice" name="roomPrice"><br>

        <button type="submit">Update Room</button>
    </form>
</tbody>
{% endblock %}
